*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;// 1rem = 10px 10px/16px= 62.5%
    overflow-x:hidden;
    @include respond(xl-bp) {
        font-size: 56.25%; // 9px
    }

    @include respond(lg-bp) {
        font-size: 50%; // 8px
    }

    @include respond(md-bp) {
        font-size: 43.75%; // 7px
    }

    @include respond(sm-bp) {
        font-size: 50%; // 8px
    }

    @include respond(xs-bp) {
        font-size: 50%; // 8px
    }

}

body {
    box-sizing: border-box;
    overflow-x:inherit;
}