.button-box {
    display: flex;
    justify-content: center;

    &__btn {
        font-size: 1.4rem;
        font-family: $font-family-1-b;
        color: $color-white;
        display: inline-block;
        padding: 1.5rem 4.5rem;
        background-color:$color-blue-dark; 
        text-decoration: none;
        text-transform: uppercase;
        border:none;
        cursor: pointer;
        margin-top: 6rem;
        transition: all .5s;

        &:hover,
        &:focus {
            background-color:$color-red-dark;    
            outline: none;       
        }

        @include respond(sm-bp) {
            font-size: 1.6rem;
            padding: 2rem 5.5rem;
        }
    }
}