.gallery {
    &__images {
        display: flex;

        @include respond(sm-bp) {
            flex-direction: column-reverse;
            margin-bottom: 6rem;
        }

        @include respond(xs-bp) {
            flex-direction: column-reverse;
            margin-bottom: 6rem;
        }
    }

    &__link {
        transition: all 1s;
        &:not(:last-child) {
            margin-right: -25rem;
            @include respond(sm-bp) {
                margin-right: 0;
            }

            @include respond(xs-bp) {
                margin-right: 0;
            }
        }
        
        &:hover {
            z-index: 1;
            transform: scale(1.1);
        }

        @include respond(sm-bp) {
            &:not(:first-child) {
                margin-bottom: -12rem;
            }
        }

        @include respond(xs-bp) {
            &:not(:first-child) {
                margin-bottom: -9rem;
            }
        }

    }

    &__pic {
        width:100%; 
        @include respond(xl-bp) {
            width:100%;
        }

        @include respond(xs-bp) {
            width:100%;
        }
        
    }

    &__link:hover > &__pic {
        z-index: 1;
        transform: scale(1);
    }
    

    &__hours-bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid $color-grey-light-3;

        @include respond(sm-bp) {
            padding: 4rem 0;
        }

        @include respond(xs-bp) {
            padding: 6rem 0;
        }
    }

    &__heading {
        font-size: 1.6rem;
        font-family: $font-family-1-b;
        color:$color-red-dark;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;
    }

    &__days {
        font-size: 1.6rem;
        font-family: $font-family-1-b;
        color:$color-blue-dark;
        text-transform: uppercase;
    }

    &__hours {
        display: block;
        font-size: 1.6rem;
        font-family: $font-family-1-b;
        color:$color-blue-dark;
        text-align: center;

    }
}

// Lightbox classes

.lightboxOverlay {
    z-index: 9999999;
}

.lightbox {
    z-index: 99999999;
}

.lb-data .lb-close {
    background-image: url(../img/close.png);
}

.lb-closeContainer {
    position: absolute;
    top: -8%;
    right: 17rem;
    @include respond(sm-bp) {
        top: -16%;
        right: 2rem;
    }

    @include respond(xs-bp) {
        top: -22%;
        right: 1rem;
    }
}

.lb-nav a.lb-prev {
    background-image: url(../img/prev.png);
}

.lb-nav a.lb-next {
    background-image: url(../img/next.png);
}

.lb-cancel {
    background-image: url(../img/loading.gif);
}





