/*

0 - 320px : Custom, iPhone Retina / xs-bp
320pxpx - 480px : Extra Small Devices, Phones / sm-bp
480px - 768px : Small Devices, Tablets / md-bp
768px - 992px : Medium Devices, Desktops / lg-bp
[1200px - 1800px ] is where our normal styles apply (Large Devices, Wide Screens) / xl-bp
1800 px + : big desktop / xl-bp

$breakpoint argument choices:
- xs-bp
- sm-bp
- md-bp
- lg-bp
- xl-bp
- xxl-bp


ORDER : Base + typography > general layout + grid > page layout > components
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
/* line 1, ../scss/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 9, ../scss/base/_base.scss */
html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    /* line 9, ../scss/base/_base.scss */
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62em) {
    /* line 9, ../scss/base/_base.scss */
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 48em) {
    /* line 9, ../scss/base/_base.scss */
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 30em) {
    /* line 9, ../scss/base/_base.scss */
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 20em) {
    /* line 9, ../scss/base/_base.scss */
    html {
      font-size: 50%; } }

/* line 34, ../scss/base/_base.scss */
body {
  box-sizing: border-box;
  overflow-x: inherit; }

/* line 1, ../scss/base/_typography.scss */
body {
  font-family: "Montserrat-Regular", "Helvetica", sans-serif, serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1e2633; }

/* line 9, ../scss/base/_typography.scss */
.heading-secondary {
  font-size: 6.6rem;
  font-family: "Axis";
  color: #1e2633;
  text-align: center;
  margin-bottom: 5rem; }
  /* line 16, ../scss/base/_typography.scss */
  .heading-secondary--text {
    display: block;
    font-size: 1.6rem;
    font-family: "Montserrat-Bold";
    color: #985e5b;
    text-transform: uppercase; }

/* line 1, ../scss/base/_utilities.scss */
.u-center-text {
  text-align: center !important; }

/* line 5, ../scss/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* line 9, ../scss/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

/* line 13, ../scss/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

/* line 17, ../scss/base/_utilities.scss */
.u-margin-top-small {
  margin-top: 1.5rem !important; }

/* line 21, ../scss/base/_utilities.scss */
.u-margin-top-medium {
  margin-top: 4rem !important; }

/* line 25, ../scss/base/_utilities.scss */
.u-margin-top-big {
  margin-top: 8rem !important; }

/* line 29, ../scss/base/_utilities.scss */
.u-margin-top-huge {
  margin-top: 10rem !important; }

/* line 33, ../scss/base/_utilities.scss */
.u-padding-bottom-huge {
  padding-bottom: 20rem !important; }

/* line 37, ../scss/base/_utilities.scss */
.u-position-fixed {
  position: fixed; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../css/fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../css/fonts/Montserrat-Medium.ttf"); }
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../css/fonts/Montserrat-SemiBold.ttf"); }
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../css/fonts/Montserrat-Bold.ttf"); }
@font-face {
  font-family: 'Montserrat-Black';
  src: url("../css/fonts/Montserrat-Black.ttf"); }
@font-face {
  font-family: 'Pacifico';
  src: url("../css/fonts/Pacifico-Regular.ttf"); }
@font-face {
  font-family: 'Axis';
  src: url("../css/fonts/axis.otf"); }
@font-face {
  font-family: 'Streetwear';
  src: url("../css/fonts/Streetwear.otf"); }
/* line 1, ../scss/components/_back-to-top.scss */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* line 21, ../scss/components/_back-to-top.scss */
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* line 34, ../scss/components/_back-to-top.scss */
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9); }

/* line 37, ../scss/components/_back-to-top.scss */
#return-to-top:hover i {
  color: #fff;
  top: 5px; }

/* line 1, ../scss/components/_blockrep-one.scss */
.blockrep-one-boxright {
  text-align: left; }
  @media only screen and (max-width: 30em) {
    /* line 1, ../scss/components/_blockrep-one.scss */
    .blockrep-one-boxright {
      margin-top: 45rem; } }
  /* line 7, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxright__heading1 {
    font-size: 7rem;
    color: #1e2633;
    font-family: "Axis";
    letter-spacing: .5rem; }
  /* line 14, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxright__heading2 {
    font-size: 1.6rem;
    color: #985e5b;
    font-family: "Montserrat-Bold";
    text-transform: uppercase; }
    @media only screen and (max-width: 30em) {
      /* line 14, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxright__heading2 {
        font-size: 2rem; } }
    @media only screen and (max-width: 20em) {
      /* line 14, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxright__heading2 {
        font-size: 1.5rem;
        margin-bottom: 2rem; } }
  /* line 29, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxright__text {
    font-size: 1.6rem;
    color: #404040;
    font-family: "Montserrat-Regular"; }
    @media only screen and (max-width: 30em) {
      /* line 29, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxright__text {
        font-size: 2rem; } }
    @media only screen and (max-width: 20em) {
      /* line 29, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxright__text {
        letter-spacing: 1px; } }
  /* line 45, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxright__read-more:link, .blockrep-one-boxright__read-more:visited {
    font-size: 4rem;
    color: #1e2633;
    font-family: "Montserrat-Bold";
    letter-spacing: .5rem;
    transition: all .3s; }
  /* line 54, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxright__read-more:hover, .blockrep-one-boxright__read-more:focus {
    outline: none;
    text-decoration: none;
    color: #985e5b; }

/* line 65, ../scss/components/_blockrep-one.scss */
.blockrep-one-boxleft {
  position: relative; }
  /* line 68, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxleft__images {
    position: absolute; }
  /* line 74, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxleft__image--p1 {
    top: -3rem;
    left: 0;
    transition: all .5s;
    z-index: 10; }
    /* line 79, ../scss/components/_blockrep-one.scss */
    .blockrep-one-boxleft__image--p1:hover {
      z-index: 10;
      transform: scale(1.05) translate(-0.5rem); }
    @media only screen and (max-width: 75em) {
      /* line 74, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p1 {
        width: 80%; } }
    @media only screen and (max-width: 62em) {
      /* line 74, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p1 {
        width: 80%; } }
    @media only screen and (max-width: 30em) {
      /* line 74, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p1 {
        width: 70%;
        top: -3rem;
        left: 3rem; } }
    @media only screen and (max-width: 20em) {
      /* line 74, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p1 {
        width: 98%;
        top: -3rem;
        left: -1rem; } }
  /* line 104, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxleft__image--p2 {
    top: 12rem;
    left: 10%;
    transition: all .5s; }
    /* line 108, ../scss/components/_blockrep-one.scss */
    .blockrep-one-boxleft__image--p2:hover {
      z-index: 10;
      transform: scale(1.05) translate(0.5rem); }
    @media only screen and (max-width: 75em) {
      /* line 104, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p2 {
        width: 80%; } }
    @media only screen and (max-width: 62em) {
      /* line 104, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p2 {
        width: 80%; } }
    @media only screen and (max-width: 30em) {
      /* line 104, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p2 {
        width: 70%;
        top: 12rem;
        left: 14rem; } }
    @media only screen and (max-width: 20em) {
      /* line 104, ../scss/components/_blockrep-one.scss */
      .blockrep-one-boxleft__image--p2 {
        width: 98%;
        top: 12rem;
        left: 2rem; } }
  /* line 134, ../scss/components/_blockrep-one.scss */
  .blockrep-one-boxleft__image:hover {
    z-index: 10;
    transform: scale(1.05); }

/* line 1, ../scss/components/_blockrep-two.scss */
.blockrep-two-boxleft {
  text-align: right; }
  @media only screen and (max-width: 30em) {
    /* line 1, ../scss/components/_blockrep-two.scss */
    .blockrep-two-boxleft {
      margin-top: 45rem; } }
  /* line 8, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxleft__heading1 {
    font-size: 7rem;
    color: #1e2633;
    font-family: "Axis";
    letter-spacing: .5rem; }
  /* line 16, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxleft__heading2 {
    font-size: 1.6rem;
    color: #985e5b;
    font-family: "Montserrat-Bold";
    text-transform: uppercase; }
    @media only screen and (max-width: 30em) {
      /* line 16, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxleft__heading2 {
        font-size: 2rem; } }
    @media only screen and (max-width: 20em) {
      /* line 16, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxleft__heading2 {
        font-size: 1.5rem;
        margin-bottom: 2rem; } }
  /* line 31, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxleft__text {
    font-size: 1.6rem;
    color: #404040;
    font-family: "Montserrat-Regular"; }
    @media only screen and (max-width: 30em) {
      /* line 31, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxleft__text {
        font-size: 2rem; } }
    @media only screen and (max-width: 20em) {
      /* line 31, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxleft__text {
        letter-spacing: 1px; } }
  /* line 46, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxleft__read-more:link, .blockrep-two-boxleft__read-more:visited {
    font-size: 4rem;
    color: #1e2633;
    font-family: "Montserrat-Bold";
    letter-spacing: .5rem;
    transition: all .3s; }
  /* line 55, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxleft__read-more:hover, .blockrep-two-boxleft__read-more:focus {
    outline: none;
    text-decoration: none;
    color: #985e5b; }

/* line 65, ../scss/components/_blockrep-two.scss */
.blockrep-two-boxright {
  position: relative; }
  /* line 68, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxright__images {
    position: absolute; }
  /* line 74, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxright__image--p1 {
    top: -3rem;
    left: 30%;
    transition: all .5s;
    z-index: 10; }
    /* line 79, ../scss/components/_blockrep-two.scss */
    .blockrep-two-boxright__image--p1:hover {
      z-index: 10;
      transform: scale(1.05) translate(-0.5rem); }
    @media only screen and (max-width: 75em) {
      /* line 74, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p1 {
        width: 80%; } }
    @media only screen and (max-width: 62em) {
      /* line 74, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p1 {
        width: 80%; } }
    @media only screen and (max-width: 30em) {
      /* line 74, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p1 {
        width: 70%;
        top: -3rem;
        left: 3rem; } }
    @media only screen and (max-width: 20em) {
      /* line 74, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p1 {
        width: 98%;
        top: -3rem;
        left: -1rem; } }
  /* line 105, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxright__image--p2 {
    top: 10rem;
    left: 10%;
    transition: all .5s; }
    /* line 109, ../scss/components/_blockrep-two.scss */
    .blockrep-two-boxright__image--p2:hover {
      z-index: 10;
      transform: scale(1.05) translate(0.5rem); }
    @media only screen and (max-width: 75em) {
      /* line 105, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p2 {
        width: 80%; } }
    @media only screen and (max-width: 62em) {
      /* line 105, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p2 {
        width: 80%; } }
    @media only screen and (max-width: 30em) {
      /* line 105, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p2 {
        width: 70%;
        top: 12rem;
        left: 14rem; } }
    @media only screen and (max-width: 20em) {
      /* line 105, ../scss/components/_blockrep-two.scss */
      .blockrep-two-boxright__image--p2 {
        width: 98%;
        top: 12rem;
        left: 2rem; } }
  /* line 135, ../scss/components/_blockrep-two.scss */
  .blockrep-two-boxright__image:hover {
    z-index: 10;
    transform: scale(1.05); }

/* line 3, ../scss/components/_blog.scss */
.blog-content__bg-image {
  position: relative; }
  @media only screen and (max-width: 48em) {
    /* line 3, ../scss/components/_blog.scss */
    .blog-content__bg-image {
      width: 60%;
      margin: 0 auto; } }
  @media only screen and (max-width: 30em) {
    /* line 3, ../scss/components/_blog.scss */
    .blog-content__bg-image {
      width: 100%; } }
  /* line 15, ../scss/components/_blog.scss */
  .blog-content__bg-image--p1 {
    background-image: url(../img/h-blog1.jpg);
    background-size: cover;
    height: 35.6rem; }
    @media only screen and (max-width: 48em) {
      /* line 15, ../scss/components/_blog.scss */
      .blog-content__bg-image--p1 {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 30em) {
      /* line 15, ../scss/components/_blog.scss */
      .blog-content__bg-image--p1 {
        height: 60rem;
        margin-bottom: 7rem; } }
    @media only screen and (max-width: 20em) {
      /* line 15, ../scss/components/_blog.scss */
      .blog-content__bg-image--p1 {
        height: 40rem; } }
  /* line 33, ../scss/components/_blog.scss */
  .blog-content__bg-image--p2 {
    background-image: url(../img/h-blog2.jpg);
    background-size: cover;
    height: 35.6rem; }
    @media only screen and (max-width: 48em) {
      /* line 33, ../scss/components/_blog.scss */
      .blog-content__bg-image--p2 {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 30em) {
      /* line 33, ../scss/components/_blog.scss */
      .blog-content__bg-image--p2 {
        height: 60rem;
        margin-bottom: 7rem; } }
    @media only screen and (max-width: 20em) {
      /* line 33, ../scss/components/_blog.scss */
      .blog-content__bg-image--p2 {
        height: 40rem; } }
  /* line 52, ../scss/components/_blog.scss */
  .blog-content__bg-image--p3 {
    background-image: url(../img/h-blog3.jpg);
    background-size: cover;
    height: 35.6rem; }
    @media only screen and (max-width: 30em) {
      /* line 52, ../scss/components/_blog.scss */
      .blog-content__bg-image--p3 {
        height: 60rem; } }
    @media only screen and (max-width: 20em) {
      /* line 52, ../scss/components/_blog.scss */
      .blog-content__bg-image--p3 {
        height: 40rem; } }
/* line 66, ../scss/components/_blog.scss */
.blog-content__bg {
  background-color: #fff;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
/* line 80, ../scss/components/_blog.scss */
.blog-content__date {
  font-family: "Montserrat-Bold";
  font-size: 1.8rem;
  color: #dcdee0; }
  @media only screen and (max-width: 30em) {
    /* line 80, ../scss/components/_blog.scss */
    .blog-content__date {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 20em) {
    /* line 80, ../scss/components/_blog.scss */
    .blog-content__date {
      font-size: 3.4rem; } }
/* line 93, ../scss/components/_blog.scss */
.blog-content__text {
  font-family: "Axis";
  font-size: 1.6rem;
  color: #000;
  text-transform: uppercase; }
  @media only screen and (max-width: 30em) {
    /* line 93, ../scss/components/_blog.scss */
    .blog-content__text {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 20em) {
    /* line 93, ../scss/components/_blog.scss */
    .blog-content__text {
      font-size: 2.4rem; } }
/* line 108, ../scss/components/_blog.scss */
.blog-content__read-more:link, .blog-content__read-more:visited {
  font-size: 4rem;
  color: #1e2633;
  font-family: "Montserrat-Bold";
  letter-spacing: .5rem;
  transition: all .3s; }
  @media only screen and (max-width: 30em) {
    /* line 108, ../scss/components/_blog.scss */
    .blog-content__read-more:link, .blog-content__read-more:visited {
      font-size: 7rem; } }
/* line 120, ../scss/components/_blog.scss */
.blog-content__read-more:hover, .blog-content__read-more:focus {
  outline: none;
  text-decoration: none;
  color: #985e5b; }

/* line 2, ../scss/components/_gallery.scss */
.gallery__images {
  display: flex; }
  @media only screen and (max-width: 30em) {
    /* line 2, ../scss/components/_gallery.scss */
    .gallery__images {
      flex-direction: column-reverse;
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 20em) {
    /* line 2, ../scss/components/_gallery.scss */
    .gallery__images {
      flex-direction: column-reverse;
      margin-bottom: 6rem; } }
/* line 16, ../scss/components/_gallery.scss */
.gallery__link {
  transition: all 1s; }
  /* line 18, ../scss/components/_gallery.scss */
  .gallery__link:not(:last-child) {
    margin-right: -25rem; }
    @media only screen and (max-width: 30em) {
      /* line 18, ../scss/components/_gallery.scss */
      .gallery__link:not(:last-child) {
        margin-right: 0; } }
    @media only screen and (max-width: 20em) {
      /* line 18, ../scss/components/_gallery.scss */
      .gallery__link:not(:last-child) {
        margin-right: 0; } }
  /* line 29, ../scss/components/_gallery.scss */
  .gallery__link:hover {
    z-index: 1;
    transform: scale(1.1); }
  @media only screen and (max-width: 30em) {
    /* line 35, ../scss/components/_gallery.scss */
    .gallery__link:not(:first-child) {
      margin-bottom: -12rem; } }
  @media only screen and (max-width: 20em) {
    /* line 41, ../scss/components/_gallery.scss */
    .gallery__link:not(:first-child) {
      margin-bottom: -9rem; } }
/* line 48, ../scss/components/_gallery.scss */
.gallery__pic {
  width: 100%; }
  @media only screen and (max-width: 75em) {
    /* line 48, ../scss/components/_gallery.scss */
    .gallery__pic {
      width: 100%; } }
  @media only screen and (max-width: 20em) {
    /* line 48, ../scss/components/_gallery.scss */
    .gallery__pic {
      width: 100%; } }
/* line 60, ../scss/components/_gallery.scss */
.gallery__link:hover > .gallery__pic {
  z-index: 1;
  transform: scale(1); }
/* line 66, ../scss/components/_gallery.scss */
.gallery__hours-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #dcdee0; }
  @media only screen and (max-width: 30em) {
    /* line 66, ../scss/components/_gallery.scss */
    .gallery__hours-bg {
      padding: 4rem 0; } }
  @media only screen and (max-width: 20em) {
    /* line 66, ../scss/components/_gallery.scss */
    .gallery__hours-bg {
      padding: 6rem 0; } }
/* line 84, ../scss/components/_gallery.scss */
.gallery__heading {
  font-size: 1.6rem;
  font-family: "Montserrat-Bold";
  color: #985e5b;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem; }
/* line 93, ../scss/components/_gallery.scss */
.gallery__days {
  font-size: 1.6rem;
  font-family: "Montserrat-Bold";
  color: #1e2633;
  text-transform: uppercase; }
/* line 100, ../scss/components/_gallery.scss */
.gallery__hours {
  display: block;
  font-size: 1.6rem;
  font-family: "Montserrat-Bold";
  color: #1e2633;
  text-align: center; }

/* line 112, ../scss/components/_gallery.scss */
.lightboxOverlay {
  z-index: 9999999; }

/* line 116, ../scss/components/_gallery.scss */
.lightbox {
  z-index: 99999999; }

/* line 120, ../scss/components/_gallery.scss */
.lb-data .lb-close {
  background-image: url(../img/close.png); }

/* line 124, ../scss/components/_gallery.scss */
.lb-closeContainer {
  position: absolute;
  top: -8%;
  right: 17rem; }
  @media only screen and (max-width: 30em) {
    /* line 124, ../scss/components/_gallery.scss */
    .lb-closeContainer {
      top: -16%;
      right: 2rem; } }
  @media only screen and (max-width: 20em) {
    /* line 124, ../scss/components/_gallery.scss */
    .lb-closeContainer {
      top: -22%;
      right: 1rem; } }

/* line 139, ../scss/components/_gallery.scss */
.lb-nav a.lb-prev {
  background-image: url(../img/prev.png); }

/* line 143, ../scss/components/_gallery.scss */
.lb-nav a.lb-next {
  background-image: url(../img/next.png); }

/* line 147, ../scss/components/_gallery.scss */
.lb-cancel {
  background-image: url(../img/loading.gif); }

/* line 3, ../scss/components/_lunch-slide.scss */
.lunch-box__box {
  display: flex;
  justify-content: center;
  align-items: center; }
/* line 9, ../scss/components/_lunch-slide.scss */
.lunch-box__heading {
  font-size: 6.6rem;
  font-family: "Axis";
  color: #1e2633;
  margin-top: 24%;
  letter-spacing: .5rem; }
  @media only screen and (max-width: 48em) {
    /* line 9, ../scss/components/_lunch-slide.scss */
    .lunch-box__heading {
      margin-top: 0;
      margin-bottom: 4rem; } }
/* line 21, ../scss/components/_lunch-slide.scss */
.lunch-box__span {
  display: block;
  font-size: 1.6rem;
  font-family: "Montserrat-Bold";
  color: #985e5b;
  text-align: center;
  text-transform: uppercase; }
/* line 34, ../scss/components/_lunch-slide.scss */
.lunch-box__item {
  position: relative; }
/* line 41, ../scss/components/_lunch-slide.scss */
.lunch-box .owl-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 26%;
  left: -5%; }
/* line 49, ../scss/components/_lunch-slide.scss */
.lunch-box .owl-theme .owl-nav [class*=owl-] {
  color: #1e2633;
  margin-bottom: .5rem;
  padding: 0;
  background-color: #dcdee0;
  border-radius: 0;
  border: none;
  transition: all .5s; }
/* line 59, ../scss/components/_lunch-slide.scss */
.lunch-box .owl-theme .owl-nav [class*=owl-]:hover {
  background: #1e2633;
  color: #fff; }
/* line 64, ../scss/components/_lunch-slide.scss */
.lunch-box .fa-angle-right:before,
.lunch-box .fa-angle-left:before {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; }
@media only screen and (max-width: 48em) {
  /* line 74, ../scss/components/_lunch-slide.scss */
  .lunch-box .owl-carousel {
    width: 80%;
    margin: 0 auto; } }
@media only screen and (max-width: 20em) {
  /* line 74, ../scss/components/_lunch-slide.scss */
  .lunch-box .owl-carousel {
    width: 100%; } }
@media only screen and (max-width: 30em) {
  /* line 85, ../scss/components/_lunch-slide.scss */
  .lunch-box .owl-dots {
    position: absolute;
    bottom: 20rem;
    left: 14rem;
    margin-top: 0; } }
@media only screen and (max-width: 20em) {
  /* line 85, ../scss/components/_lunch-slide.scss */
  .lunch-box .owl-dots {
    bottom: 17rem;
    left: 11rem; } }
@media only screen and (max-width: 30em) {
  /* line 98, ../scss/components/_lunch-slide.scss */
  .lunch-box .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #fff; } }
@media only screen and (max-width: 20em) {
  /* line 98, ../scss/components/_lunch-slide.scss */
  .lunch-box .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px; } }
@media only screen and (max-width: 30em) {
  /* line 112, ../scss/components/_lunch-slide.scss */
  .lunch-box .owl-theme .owl-dots .owl-dot.active span, .lunch-box .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff; } }
/* line 118, ../scss/components/_lunch-slide.scss */
.lunch-box__price {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: block;
  padding: 1.5rem 2.5rem;
  color: #1e2633;
  font-family: "Montserrat-Medium";
  font-size: 2.2rem;
  background-color: #dcdee0;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 20em) {
    /* line 118, ../scss/components/_lunch-slide.scss */
    .lunch-box__price {
      top: 2rem;
      right: 2rem;
      font-size: 2rem; } }
/* line 141, ../scss/components/_lunch-slide.scss */
.lunch-box__image {
  width: auto; }
/* line 162, ../scss/components/_lunch-slide.scss */
.lunch-box__text {
  font-size: 2rem;
  font-family: "Montserrat-Bold";
  color: #1e2633; }
  @media only screen and (max-width: 30em) {
    /* line 162, ../scss/components/_lunch-slide.scss */
    .lunch-box__text {
      text-align: center;
      font-size: 2.5rem;
      margin-top: 4rem; } }
/* line 173, ../scss/components/_lunch-slide.scss */
.lunch-box__day {
  font-size: 2.6rem;
  font-family: "Streetwear";
  color: #dcdee0;
  float: right; }
  @media only screen and (max-width: 30em) {
    /* line 173, ../scss/components/_lunch-slide.scss */
    .lunch-box__day {
      display: block;
      float: none;
      font-size: 3rem;
      margin-top: 2rem; } }

/* line 3, ../scss/components/_quote.scss */
.quote-content__image-box {
  text-align: center; }
/* line 7, ../scss/components/_quote.scss */
.quote-content__image {
  transition: all .5s; }
  /* line 10, ../scss/components/_quote.scss */
  .quote-content__image:hover {
    transform: scale(1.1) translateY(1rem); }
  @media only screen and (max-width: 62em) {
    /* line 7, ../scss/components/_quote.scss */
    .quote-content__image {
      width: 90%; } }
  @media only screen and (max-width: 20em) {
    /* line 7, ../scss/components/_quote.scss */
    .quote-content__image {
      width: 100%; } }
/* line 23, ../scss/components/_quote.scss */
.quote-content__block {
  display: block;
  text-align: center;
  border: none;
  padding-top: 30rem; }
  @media only screen and (max-width: 48em) {
    /* line 23, ../scss/components/_quote.scss */
    .quote-content__block {
      width: 120%; } }
  @media only screen and (max-width: 30em) {
    /* line 23, ../scss/components/_quote.scss */
    .quote-content__block {
      width: 100%;
      padding-top: 4rem; } }
/* line 38, ../scss/components/_quote.scss */
.quote-content__text {
  font-family: "Montserrat-Regular";
  font-size: 3.3rem;
  color: #1e2633; }
  @media only screen and (max-width: 30em) {
    /* line 38, ../scss/components/_quote.scss */
    .quote-content__text {
      font-size: 4.3rem; } }
  @media only screen and (max-width: 20em) {
    /* line 38, ../scss/components/_quote.scss */
    .quote-content__text {
      font-size: 2.9rem; } }
/* line 51, ../scss/components/_quote.scss */
.quote-content__span {
  display: block; }
/* line 56, ../scss/components/_quote.scss */
.quote-content__author {
  font-size: 1.6rem;
  font-family: "Axis";
  color: #1e2633;
  text-transform: uppercase; }
  @media only screen and (max-width: 30em) {
    /* line 56, ../scss/components/_quote.scss */
    .quote-content__author {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 20em) {
    /* line 56, ../scss/components/_quote.scss */
    .quote-content__author {
      font-size: 2.2rem; } }
  /* line 69, ../scss/components/_quote.scss */
  .quote-content__author::before {
    content: none; }

/* line 1, ../scss/components/_search-popup.scss */
.search-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  opacity: 0;
  visibility: hidden; }
  /* line 12, ../scss/components/_search-popup.scss */
  .search-popup__content {
    background-color: #1e2633;
    padding: 3.6rem 0; }
  /* line 17, ../scss/components/_search-popup.scss */
  .search-popup__form {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* line 23, ../scss/components/_search-popup.scss */
  .search-popup__input {
    background: transparent;
    border: none; }
    /* line 27, ../scss/components/_search-popup.scss */
    .search-popup__input::-webkit-input-placeholder {
      color: #fff;
      font-size: 1.6rem;
      font-family: "Montserrat-Regular";
      text-transform: uppercase; }
    /* line 34, ../scss/components/_search-popup.scss */
    .search-popup__input:focus {
      outline: none;
      color: #fff; }
  /* line 42, ../scss/components/_search-popup.scss */
  .search-popup__btns {
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 48, ../scss/components/_search-popup.scss */
  .search-popup__btn {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    margin-right: 1rem;
    transition: all .3s; }
    /* line 56, ../scss/components/_search-popup.scss */
    .search-popup__btn:hover {
      color: #985e5b; }
  /* line 62, ../scss/components/_search-popup.scss */
  .search-popup__close:link, .search-popup__close:visited {
    font-size: 5rem;
    color: #fff;
    line-height: 0;
    transition: all .3s; }
  /* line 70, ../scss/components/_search-popup.scss */
  .search-popup__close:hover, .search-popup__close:focus {
    color: #985e5b;
    text-decoration: none; }
  /* line 77, ../scss/components/_search-popup.scss */
  .search-popup:target {
    opacity: 1;
    visibility: visible; }

/* line 2, ../scss/components/_separators.scss */
.section-separator {
  border-bottom: 1px solid #dcdee0; }

/* line 8, ../scss/components/_services.scss */
.services-content__list {
  display: flex;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  margin-bottom: 0; }
  @media only screen and (max-width: 30em) {
    /* line 8, ../scss/components/_services.scss */
    .services-content__list {
      flex-direction: column;
      align-items: center; } }
/* line 19, ../scss/components/_services.scss */
.services-content__item {
  position: relative;
  font-size: 2.6rem;
  font-family: "Montserrat-Regular";
  color: #1e2633;
  list-style: none;
  line-height: 6; }
  @media only screen and (max-width: 30em) {
    /* line 19, ../scss/components/_services.scss */
    .services-content__item {
      flex-direction: column;
      align-items: center;
      font-size: 4.6rem;
      border-bottom: 1px solid #dcdee0; } }
  @media only screen and (max-width: 20em) {
    /* line 19, ../scss/components/_services.scss */
    .services-content__item {
      font-size: 3.5rem; } }
  /* line 38, ../scss/components/_services.scss */
  .services-content__item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #dcdee0;
    position: absolute;
    right: -8rem; }
    @media only screen and (max-width: 62em) {
      /* line 38, ../scss/components/_services.scss */
      .services-content__item:not(:last-child)::after {
        right: -6rem; } }
    @media only screen and (max-width: 48em) {
      /* line 38, ../scss/components/_services.scss */
      .services-content__item:not(:last-child)::after {
        right: -4rem; } }
    @media only screen and (max-width: 30em) {
      /* line 38, ../scss/components/_services.scss */
      .services-content__item:not(:last-child)::after {
        display: none; } }
/* line 60, ../scss/components/_services.scss */
.services-content__bg {
  background-image: url(../img/h--bg-services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  position: relative; }
  @media only screen and (max-width: 30em) {
    /* line 60, ../scss/components/_services.scss */
    .services-content__bg {
      background-position: right;
      height: 40rem; } }
/* line 73, ../scss/components/_services.scss */
.services-content__btn:link, .services-content__btn:visited {
  font-size: 1.4rem;
  font-family: "Montserrat-Bold";
  color: #fff;
  display: inline-block;
  padding: 1.5rem 4.5rem;
  background-color: #1e2633;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s; }
  @media only screen and (max-width: 30em) {
    /* line 73, ../scss/components/_services.scss */
    .services-content__btn:link, .services-content__btn:visited {
      font-size: 2.4rem;
      padding: 2.5rem 5.5rem; } }
  @media only screen and (max-width: 20em) {
    /* line 73, ../scss/components/_services.scss */
    .services-content__btn:link, .services-content__btn:visited {
      width: 70%; } }
/* line 100, ../scss/components/_services.scss */
.services-content__btn:hover, .services-content__btn:focus {
  background-color: #985e5b; }

/* line 1, ../scss/layout/_footer.scss */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 30em) {
    /* line 1, ../scss/layout/_footer.scss */
    .footer-content {
      flex-direction: column; } }
  /* line 9, ../scss/layout/_footer.scss */
  .footer-content__logo {
    font-family: "Pacifico";
    font-size: 2.6rem;
    color: #1e2633;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 30em) {
      /* line 9, ../scss/layout/_footer.scss */
      .footer-content__logo {
        font-size: 3.6rem;
        margin-bottom: 3.5rem; } }
    @media only screen and (max-width: 20em) {
      /* line 9, ../scss/layout/_footer.scss */
      .footer-content__logo {
        font-size: 3rem; } }
  /* line 25, ../scss/layout/_footer.scss */
  .footer-content__copyright {
    font-family: "Axis";
    font-size: 1.6rem;
    color: #1e2633;
    text-transform: uppercase;
    margin: 0;
    margin-left: 11rem;
    padding: 0; }
    @media only screen and (max-width: 30em) {
      /* line 25, ../scss/layout/_footer.scss */
      .footer-content__copyright {
        margin-left: 0;
        font-size: 2.4rem; } }
    @media only screen and (max-width: 20em) {
      /* line 25, ../scss/layout/_footer.scss */
      .footer-content__copyright {
        font-size: 1.5rem; } }
  /* line 44, ../scss/layout/_footer.scss */
  .footer-content__social-media {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 30em) {
      /* line 44, ../scss/layout/_footer.scss */
      .footer-content__social-media {
        flex-direction: column;
        order: -1;
        margin-bottom: 3rem; } }
  /* line 55, ../scss/layout/_footer.scss */
  .footer-content__heading {
    font-family: "Montserrat-Bold";
    font-size: 1.6rem;
    color: #1e2633;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 30em) {
      /* line 55, ../scss/layout/_footer.scss */
      .footer-content__heading {
        font-size: 2rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 20em) {
      /* line 55, ../scss/layout/_footer.scss */
      .footer-content__heading {
        font-size: 1.8rem; } }
  /* line 73, ../scss/layout/_footer.scss */
  .footer-content__icons {
    margin-left: 1.6rem; }
  /* line 79, ../scss/layout/_footer.scss */
  .footer-content__icon:link, .footer-content__icon:visited {
    border: 2px solid #1e2633;
    color: #1e2633;
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    transition: all .5s; }
    @media only screen and (max-width: 30em) {
      /* line 79, ../scss/layout/_footer.scss */
      .footer-content__icon:link, .footer-content__icon:visited {
        border: 3px solid #1e2633;
        width: 6rem;
        height: 6rem;
        font-size: 3.2rem;
        line-height: 1.7; } }
    @media only screen and (max-width: 20em) {
      /* line 79, ../scss/layout/_footer.scss */
      .footer-content__icon:link, .footer-content__icon:visited {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        line-height: 1.6; } }
  /* line 110, ../scss/layout/_footer.scss */
  .footer-content__icon:hover, .footer-content__icon:focus {
    background-color: #1e2633;
    color: #fff; }
  /* line 117, ../scss/layout/_footer.scss */
  .footer-content__icon:not(:last-child) {
    margin-right: 1rem; }
    @media only screen and (max-width: 30em) {
      /* line 117, ../scss/layout/_footer.scss */
      .footer-content__icon:not(:last-child) {
        margin-right: 2rem; } }

/* line 11, ../scss/layout/_header.scss */
.header-bg__heading {
  position: absolute;
  right: 5%;
  bottom: 10%;
  z-index: 1;
  font-size: 6rem;
  font-family: "Axis";
  color: #fff;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 48em) {
    /* line 11, ../scss/layout/_header.scss */
    .header-bg__heading {
      font-size: 5rem; } }
  @media only screen and (max-width: 30em) {
    /* line 11, ../scss/layout/_header.scss */
    .header-bg__heading {
      font-size: 5.5rem;
      left: 7%;
      bottom: 30%; } }
  /* line 32, ../scss/layout/_header.scss */
  .header-bg__heading--color {
    display: block;
    font-family: "Montserrat-Bold";
    font-size: 4rem;
    color: #985e5b; }
/* line 40, ../scss/layout/_header.scss */
.header-bg__image {
  position: relative;
  height: 100vh;
  object-fit: cover; }
/* line 48, ../scss/layout/_header.scss */
.header-bg .owl-nav {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 5%;
  bottom: 10%; }
/* line 56, ../scss/layout/_header.scss */
.header-bg .owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  margin: 1rem;
  padding: 0;
  background: transparent;
  border-radius: 0;
  border: 3px solid #fff;
  transition: all .2s; }
/* line 66, ../scss/layout/_header.scss */
.header-bg .owl-theme .owl-nav [class*=owl-]:hover {
  background: #985e5b; }
/* line 70, ../scss/layout/_header.scss */
.header-bg .fa-angle-right:before,
.header-bg .fa-angle-left:before {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem; }
@media only screen and (max-width: 30em) {
  /* line 80, ../scss/layout/_header.scss */
  .header-bg .owl-dots {
    position: absolute;
    bottom: 5rem;
    left: 39%;
    margin-top: 0; } }
@media only screen and (max-width: 20em) {
  /* line 80, ../scss/layout/_header.scss */
  .header-bg .owl-dots {
    left: 34%; } }
@media only screen and (max-width: 30em) {
  /* line 93, ../scss/layout/_header.scss */
  .header-bg .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #fff; } }
@media only screen and (max-width: 30em) {
  /* line 102, ../scss/layout/_header.scss */
  .header-bg .owl-theme .owl-dots .owl-dot.active span, .header-bg .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff; } }

/* line 111, ../scss/layout/_header.scss */
.header-bgtwo {
  background-image: url(../img/a-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }
  /* line 118, ../scss/layout/_header.scss */
  .header-bgtwo__heading-box {
    display: block;
    position: absolute;
    bottom: -55rem;
    left: 0; }
    /* line 3, ../scss/abstracts/_mixins.scss */
    .header-bgtwo__heading-box::after {
      content: "";
      display: table;
      clear: both; }
  /* line 126, ../scss/layout/_header.scss */
  .header-bgtwo__heading {
    font-size: 6.6rem;
    font-family: "Axis";
    color: #fff; }
    /* line 131, ../scss/layout/_header.scss */
    .header-bgtwo__heading--color {
      font-size: 4rem;
      font-family: "Montserrat-Bold";
      color: #985e5b;
      display: block; }
      @media only screen and (max-width: 30em) {
        /* line 131, ../scss/layout/_header.scss */
        .header-bgtwo__heading--color {
          width: 102%; } }
      @media only screen and (max-width: 20em) {
        /* line 131, ../scss/layout/_header.scss */
        .header-bgtwo__heading--color {
          width: 102%; } }

/* line 2, ../scss/layout/_navigation-mob.scss */
.header-mob {
  position: fixed;
  z-index: 99999;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.22);
  background-color: #fff;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  backface-visibility: hidden; }
  @media only screen and (min-width: 75em) {
    /* line 2, ../scss/layout/_navigation-mob.scss */
    .header-mob {
      display: none;
      opacity: 0;
      visibility: hidden; } }
  @media only screen and (max-width: 75em) {
    /* line 2, ../scss/layout/_navigation-mob.scss */
    .header-mob {
      display: none;
      opacity: 0;
      visibility: hidden; } }
  @media only screen and (max-width: 62em) {
    /* line 2, ../scss/layout/_navigation-mob.scss */
    .header-mob {
      display: none;
      opacity: 0;
      visibility: hidden; } }
  @media only screen and (max-width: 48em) {
    /* line 2, ../scss/layout/_navigation-mob.scss */
    .header-mob {
      display: none;
      opacity: 0;
      visibility: hidden; } }
  @media only screen and (max-width: 30em) {
    /* line 2, ../scss/layout/_navigation-mob.scss */
    .header-mob {
      display: flex;
      opacity: 1;
      visibility: visible; } }
  @media only screen and (max-width: 20em) {
    /* line 2, ../scss/layout/_navigation-mob.scss */
    .header-mob {
      display: flex;
      opacity: 1;
      visibility: visible; } }
  /* line 48, ../scss/layout/_navigation-mob.scss */
  .header-mob__box-left {
    margin-right: auto;
    margin-left: 1.5rem; }
    @media only screen and (max-width: 30em) {
      /* line 48, ../scss/layout/_navigation-mob.scss */
      .header-mob__box-left {
        margin-left: 2rem; } }
  /* line 56, ../scss/layout/_navigation-mob.scss */
  .header-mob__logo {
    font-size: 3.5rem;
    color: #000;
    font-family: "Pacifico";
    margin-top: 0;
    margin-bottom: 0; }
  /* line 65, ../scss/layout/_navigation-mob.scss */
  .header-mob__link:link, .header-mob__link:visited {
    color: #000;
    text-decoration: none;
    transition: color .5s; }
  /* line 72, ../scss/layout/_navigation-mob.scss */
  .header-mob__link:hover, .header-mob__link:focus {
    color: #985e5b; }
  /* line 78, ../scss/layout/_navigation-mob.scss */
  .header-mob__box-right {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 30em) {
      /* line 78, ../scss/layout/_navigation-mob.scss */
      .header-mob__box-right {
        width: 25%; } }
    @media only screen and (max-width: 30em) {
      /* line 78, ../scss/layout/_navigation-mob.scss */
      .header-mob__box-right {
        width: 30%; } }
  /* line 92, ../scss/layout/_navigation-mob.scss */
  .header-mob__icon {
    position: relative; }
  /* line 96, ../scss/layout/_navigation-mob.scss */
  .header-mob__icon-list {
    position: absolute;
    background-color: #fff;
    padding: 2.5rem;
    top: 140%;
    left: -45%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden; }
  /* line 108, ../scss/layout/_navigation-mob.scss */
  .header-mob__icon-item {
    list-style: none; }
    /* line 110, ../scss/layout/_navigation-mob.scss */
    .header-mob__icon-item:not(:last-child) {
      margin-bottom: 2rem; }
  /* line 117, ../scss/layout/_navigation-mob.scss */
  .header-mob__icon-link:link, .header-mob__icon-link:visited {
    font-family: "Montserrat-Medium";
    font-size: 1.6rem;
    color: #1e2633;
    text-decoration: none; }
  /* line 132, ../scss/layout/_navigation-mob.scss */
  .header-mob__shop:link, .header-mob__shop:visited {
    font-size: 1.6rem;
    color: #000;
    transition: all .5s; }
  /* line 140, ../scss/layout/_navigation-mob.scss */
  .header-mob__shop:hover, .header-mob__shop:focus {
    color: #985e5b; }
  /* line 146, ../scss/layout/_navigation-mob.scss */
  .header-mob__count {
    font-family: "Montserrat-Regular";
    font-size: 1.4rem;
    margin-left: 1rem; }
  /* line 153, ../scss/layout/_navigation-mob.scss */
  .header-mob__icon:hover .header-mob__icon-list {
    opacity: 1;
    visibility: visible; }
  /* line 158, ../scss/layout/_navigation-mob.scss */
  .header-mob__separator {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2rem;
    background-color: #000; }
  /* line 166, ../scss/layout/_navigation-mob.scss */
  .header-mob__navigation {
    z-index: 99999; }
    /* line 169, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-checkbox {
      display: none; }
    /* line 173, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-button {
      position: relative;
      background-color: transparent;
      height: 2.5rem;
      width: 3.5rem;
      text-align: center;
      cursor: pointer;
      margin-bottom: 0;
      margin-top: .2rem; }
    /* line 184, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-icon {
      position: absolute;
      top: 1rem;
      left: .3rem; }
      /* line 190, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-icon, .header-mob__navigation-icon::before, .header-mob__navigation-icon::after {
        width: 2.5rem;
        height: 2px;
        background-color: #000;
        display: inline-block; }
      /* line 199, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-icon::before, .header-mob__navigation-icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      /* line 207, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-icon::before {
        top: -.8rem; }
      /* line 208, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-icon::after {
        top: .8rem; }
    /* line 213, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-nav {
      position: absolute;
      top: 10rem;
      left: 0;
      background-color: #fff;
      opacity: 0;
      width: 0; }
    /* line 222, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-list {
      list-style: none; }
    /* line 226, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-item {
      padding: 2rem .5rem; }
      /* line 228, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-item:not(:last-child) {
        border-bottom: 1px solid #dcdee0; }
    /* line 234, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-link:link, .header-mob__navigation-link:visited {
      text-decoration: none;
      color: #000;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: "Montserrat-Bold";
      transition: all .2s; }
    /* line 244, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-link:hover, .header-mob__navigation-link:active {
      color: #985e5b;
      text-decoration: none; }
    /* line 250, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-link--active {
      color: #985e5b;
      text-decoration: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: "Montserrat-Bold";
      transition: all .2s; }
      /* line 258, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-link--active:hover, .header-mob__navigation-link--active:focus {
        outline: none;
        color: #985e5b;
        text-decoration: none; }
    /* line 268, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-next-btn:link, .header-mob__navigation-next-btn:visited {
      font-size: 2.5rem;
      background-color: transparent;
      border: 1px solid #dcdee0;
      color: #404040;
      padding: 1rem 1.5rem; }
    /* line 278, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-next-btn:hover, .header-mob__navigation-next-btn:focus {
      color: #985e5b; }
    /* line 286, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-checkbox:checked ~ .header-mob__navigation-nav {
      opacity: 1;
      width: 100%; }
    /* line 291, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-button:hover .header-mob__navigation-icon::before {
      top: -1rem; }
    /* line 295, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-button:hover .header-mob__navigation-icon::after {
      top: 1rem; }
    /* line 299, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-checkbox:checked + .header-mob__navigation-button .header-mob__navigation-icon {
      background-color: transparent; }
    /* line 303, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-checkbox:checked + .header-mob__navigation-button .header-mob__navigation-icon::before {
      top: 0;
      transform: rotate(135deg); }
    /* line 308, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-checkbox:checked + .header-mob__navigation-button .header-mob__navigation-icon::after {
      top: 0;
      transform: rotate(-135deg); }
    /* line 315, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-form {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    /* line 321, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-input {
      background: transparent;
      border: none;
      width: 100%; }
      /* line 326, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-input::-webkit-input-placeholder {
        color: #404040;
        font-size: 1.6rem;
        font-family: "Montserrat-Bold"; }
      /* line 332, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-input:focus {
        outline: none;
        color: #985e5b;
        font-size: 1.6rem;
        font-family: "Montserrat-Bold"; }
    /* line 344, ../scss/layout/_navigation-mob.scss */
    .header-mob__navigation-btn {
      background: transparent;
      border: none;
      font-size: 2rem;
      color: #000;
      margin-right: 1rem;
      transition: all .3s;
      cursor: pointer; }
      /* line 353, ../scss/layout/_navigation-mob.scss */
      .header-mob__navigation-btn:hover {
        color: #985e5b; }

/* line 1, ../scss/layout/_navigation.scss */
.header {
  position: fixed;
  z-index: 999999;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.22);
  background-color: #fff;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  backface-visibility: hidden; }
  @media only screen and (min-width: 75em) {
    /* line 1, ../scss/layout/_navigation.scss */
    .header {
      display: flex;
      opacity: 1;
      visibility: visible; } }
  @media only screen and (max-width: 75em) {
    /* line 1, ../scss/layout/_navigation.scss */
    .header {
      display: flex;
      opacity: 1;
      visibility: visible; } }
  @media only screen and (max-width: 62em) {
    /* line 1, ../scss/layout/_navigation.scss */
    .header {
      display: flex;
      opacity: 1;
      visibility: visible; } }
  @media only screen and (max-width: 48em) {
    /* line 1, ../scss/layout/_navigation.scss */
    .header {
      display: flex;
      opacity: 1;
      visibility: visible; } }
  @media only screen and (max-width: 30em) {
    /* line 1, ../scss/layout/_navigation.scss */
    .header {
      display: none;
      opacity: 0;
      visibility: hidden; } }
  @media only screen and (max-width: 20em) {
    /* line 1, ../scss/layout/_navigation.scss */
    .header {
      display: none;
      opacity: 0;
      visibility: hidden; } }
  /* line 48, ../scss/layout/_navigation.scss */
  .header__logo-box {
    margin-right: auto;
    margin-left: 1.5rem; }
    @media only screen and (max-width: 48em) {
      /* line 48, ../scss/layout/_navigation.scss */
      .header__logo-box {
        margin-left: 2rem; } }
  /* line 57, ../scss/layout/_navigation.scss */
  .header__logo {
    font-size: 3.5rem;
    color: #000;
    font-family: "Pacifico";
    margin-top: 0;
    margin-bottom: 0; }
  /* line 67, ../scss/layout/_navigation.scss */
  .header__link:link, .header__link:visited {
    color: #000;
    text-decoration: none;
    transition: color .5s; }
  /* line 74, ../scss/layout/_navigation.scss */
  .header__link:hover, .header__link:focus {
    color: #985e5b; }
  /* line 80, ../scss/layout/_navigation.scss */
  .header__navigation-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%; }
    @media only screen and (max-width: 48em) {
      /* line 80, ../scss/layout/_navigation.scss */
      .header__navigation-box {
        width: 70%;
        margin-right: 2rem; } }
  /* line 91, ../scss/layout/_navigation.scss */
  .header__navigation {
    position: relative; }
  /* line 95, ../scss/layout/_navigation.scss */
  .header__navigation-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0; }
  /* line 104, ../scss/layout/_navigation.scss */
  .header__navigation-item:not(:last-of-type) {
    margin-right: 2rem; }
  /* line 110, ../scss/layout/_navigation.scss */
  .header__navigation-link:link, .header__navigation-link:visited {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: "Montserrat-Bold";
    transition: all .2s;
    padding-bottom: 4rem; }
  /* line 121, ../scss/layout/_navigation.scss */
  .header__navigation-link:hover, .header__navigation-link:active {
    color: #985e5b;
    text-decoration: none; }
  /* line 127, ../scss/layout/_navigation.scss */
  .header__navigation-link--active {
    color: #985e5b;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: "Montserrat-Bold";
    transition: all .2s; }
    /* line 135, ../scss/layout/_navigation.scss */
    .header__navigation-link--active:hover, .header__navigation-link--active:focus {
      outline: none;
      color: #985e5b;
      text-decoration: none; }
  /* line 144, ../scss/layout/_navigation.scss */
  .header__navigation-sublist {
    background-color: #fff;
    padding: 2.5rem;
    position: absolute;
    top: 140%;
    text-align: center;
    z-index: 10;
    display: none; }
  /* line 154, ../scss/layout/_navigation.scss */
  .header__navigation-subitem {
    list-style: none; }
    /* line 156, ../scss/layout/_navigation.scss */
    .header__navigation-subitem:not(:last-child) {
      margin-bottom: 2rem; }
  /* line 166, ../scss/layout/_navigation.scss */
  .header__navigation-sublink:link, .header__navigation-sublink:visited {
    font-family: "Montserrat-Medium";
    font-size: 1.6rem;
    color: #1e2633;
    text-decoration: none; }
  /* line 180, ../scss/layout/_navigation.scss */
  .header__navigation-item:hover > .header__navigation-sublist {
    display: block !important; }
  /* line 185, ../scss/layout/_navigation.scss */
  .header__separator {
    content: "";
    display: inline-block;
    width: 2px;
    height: 60%;
    background-color: #000; }
  /* line 197, ../scss/layout/_navigation.scss */
  .header__search:link, .header__search:visited, .header__shop:link, .header__shop:visited {
    font-size: 1.6rem;
    color: #000;
    transition: all .5s; }
  /* line 204, ../scss/layout/_navigation.scss */
  .header__search:hover, .header__search:focus, .header__shop:hover, .header__shop:focus {
    color: #985e5b; }
  /* line 211, ../scss/layout/_navigation.scss */
  .header__shop:link, .header__shop:visited {
    padding-bottom: 4rem; }
  /* line 217, ../scss/layout/_navigation.scss */
  .header__count {
    margin-left: 1rem;
    font-family: "Montserrat-Regular";
    font-size: 1.4rem; }
  /* line 223, ../scss/layout/_navigation.scss */
  .header__navigation-sublist2 {
    background-color: #fff;
    padding: 2.5rem;
    position: absolute;
    top: 140%;
    left: 88%;
    text-align: center;
    z-index: 10;
    display: none; }
  /* line 234, ../scss/layout/_navigation.scss */
  .header__navigation-subitem2 {
    list-style: none; }
    /* line 236, ../scss/layout/_navigation.scss */
    .header__navigation-subitem2:not(:last-child) {
      margin-bottom: 2rem; }
  /* line 244, ../scss/layout/_navigation.scss */
  .header__navigation-sublink2:link, .header__navigation-sublink2:visited {
    font-family: "Montserrat-Medium";
    font-size: 1.6rem;
    color: #1e2633;
    text-decoration: none; }
  /* line 258, ../scss/layout/_navigation.scss */
  .header__navigation-item:hover > .header__navigation-sublist2 {
    display: block; }

/* line 1, ../scss/pages/_about.scss */
.section-gallery {
  padding: 10rem 0; }

/* line 1, ../scss/pages/_home.scss */
.blockrep-one {
  background-color: #fff;
  padding: 9rem 0; }

/* line 6, ../scss/pages/_home.scss */
.section-lunch {
  background-color: #f7f7f7;
  padding: 10rem 0; }

/* line 11, ../scss/pages/_home.scss */
.blockrep-two {
  background-color: #fff;
  padding: 9rem 0; }

/* line 16, ../scss/pages/_home.scss */
.section-quote {
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 40%, #f7f7f7 40%);
  padding: 0 0 9rem 0; }

/* line 21, ../scss/pages/_home.scss */
.section-reservation {
  background-color: #fff;
  padding: 9rem 0; }

/* line 26, ../scss/pages/_home.scss */
.section-services {
  padding: 9rem 0; }

/* line 30, ../scss/pages/_home.scss */
.section-blog {
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 60%, #f7f7f7 60%);
  padding: 9rem 0; }
  @media only screen and (max-width: 48em) {
    /* line 30, ../scss/pages/_home.scss */
    .section-blog {
      background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 45%, #f7f7f7 45%); } }

/* line 39, ../scss/pages/_home.scss */
.section-contact {
  background-color: #fff;
  padding: 9rem 0 15rem 0; }

/* line 44, ../scss/pages/_home.scss */
.section-footer {
  background-color: #f7f7f7;
  padding: 4.5rem; }
  @media only screen and (max-width: 30em) {
    /* line 44, ../scss/pages/_home.scss */
    .section-footer {
      padding: 7rem 0; } }
