//COLORS
$color-black:orangered;

$color-white:#fff;

$color-red-dark:#985e5b;

$color-blue-dark:#1e2633;

$color-grey-dark:#404040;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#edeff2;
$color-grey-light-3:#dcdee0;

//FONTS
$font-family-1-r:'Montserrat-Regular';
$font-family-1-m:'Montserrat-Medium';
$font-family-1-sb:'Montserrat-SemiBold';
$font-family-1-b:'Montserrat-Bold';
$font-family-1-bk:'Montserrat-Black';

$font-family-2:'Pacifico';

$font-family-3:'Axis';

$font-family-4:'Streetwear';

$default-font-family:'Helvetica',sans-serif, serif;





